* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}
html{
  height:100%;
  background:radial-gradient(circle,#3399ff 20%, #ccc);
  background-size:cover;
}
header.index-header{
    background-color:black;
    color:white;
    text-align:center;
    padding:20px;

}
#jscalc{
  width:325px;
  height:auto;
  margin:100px auto;
  padding:20px 20px 9px;
  background:linear-gradient(#cc6699,#d279a6);
  border-radius:3px;
  box-shadow: 0px 4px #d279a6 0px 10px 15px rgba(0,0,0,0.2);
}

.main span.empty{
  float:left;
}
.main .monitor{
  height:40px;
  width:212px;
  background:rgba(0,0,0,0.2);
  float:right;
  border-radius:3px;
 
  /*Typography*/
  font-size:17px;
  line-height:40px;
  color:white;
  text-shadow:1px 1px 2px rgba(0,0,0,2);
  text-align:right;
  letter-spacing:1px;
}
.numbers, .main{
overflow:hidden
}

.numbers span, .main span.empty {
  float:left;
  width:66px;
  height:40px;
  background:white;
  border-radius:3px;
  margin:0 7px 11px 0;
  line-height:40px;
  text-align:center;
  box-shadow:0px 4px #0000ff;
  cursor:pointer;

  /*prevent selection of text inside keys*/
  user-select:none;
  transition:all 0.2s elase;
}


.numbers span.operator{
background: #FFF0F5;
margin-right:0;
}
.numbers span.eval{
  background:white;
  box-shadow: 0px 4px blue;
  color:#888e5f;
}
.main span.empty{
  background:#0000ff;
  box-shadow: 0px 4px #9da853;
  color:white;
}



.numbers span:hover{
background: #9c89f6;
box-shadow: 0px 4px #6b54d3;
color:white;
}
.numbers span.eval:hover{
  background:#abb850;
  box-shadow: 0px 4px #717a3;
  color:#888e5f;
}
.main span.clear:hover{
  background:#f68991;
  box-shadow: 0px 4px #d3545d;
  color:white;
}